<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>226413752175-ccou3ujgj7nbgvord1lca0frmjlbdd5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226413752175-ccou3ujgj7nbgvord1lca0frmjlbdd5c</string>
	<key>API_KEY</key>
	<string>AIzaSyC7k7tNqQYI1qZ7kz9mGcn9Qk1fSN0u174</string>
	<key>GCM_SENDER_ID</key>
	<string>226413752175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grezende.RockPaperScissors</string>
	<key>PROJECT_ID</key>
	<string>rockpaperscissors-e1fa5</string>
	<key>STORAGE_BUCKET</key>
	<string>rockpaperscissors-e1fa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226413752175:ios:5ea08e9a8599918d</string>
	<key>DATABASE_URL</key>
	<string>https://rockpaperscissors-e1fa5.firebaseio.com</string>
</dict>
</plist>